.login-form input{
	margin-top:5px;
	width:300px;
}

.login-form label {
	margin-top:5px;
	width:125px;
}

#loginModalFooter {
	text-align: left;
	padding-top: 0px;
}

#loginModalDialog {
	width: 475px;
}

#loginModalBody {
	padding-bottom: 5px;
}

#loginSubmitButton {
	margin-left: 126px;
}