.registration-div {
	width: 700px;
	margin-left: 50px;
	margin-top: 15px;
	background-color: #E0E0E0;
	border: solid 1px #ddd;
}

.registration-title {
	content: "Example";
	font-size: 16px;
	font-weight: 700;
	color: black;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-top: 15px;
	padding-left: 15px;
}

.registration-form {
	padding-left: 15px;
}

.registration-form input {
	border-bottom: 1px dashed #989895;
	border-left: none;
	border-top: none;
	color: #4f4f4f;
	border-right: none;
}

.registration-form-error {
	font-size: 13px;
	font-weight: normal;
	color: red;
	padding-top: 10px;
}

.registration-form-info {
	font-size: 13px;
	font-weight: normal;
	padding-top: 10px;
}

#registration-form-school-type-select-bar {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 12px;
}

#registration-form-country-select-bar {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 12px;
}

#registration-form-subregion-select-bar {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 12px;
}

#registration-form-city-select-bar {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 12px;
}

#registration-form-province-state-select-bar {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 12px;
}

#schoolSelector {
	margin-top: 5px;
}
}